{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/styleLogin.css' %}">{% endblock %}
{% block title %}Comicstore - Contacto{% endblock %}
{% block content %}
<div>
    
    <form class="formulario mb-5" method="post">
        <h1>¡Bienvenido!</h1>
        <h4>Registro de nuevo usuario</h4>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mb-3">
            <label for="repass" class="form-label">Repetir Contraseña</label>
            <input type="password" class="form-control" id="repass" required>
        </div>
        <button id="registrar" type="submit" class="btn btn-primary">Registrarse</button>
        <div>
            <h6>¿Ya tienes una cuenta? <a href="{% url 'login' %}"><u>Ingresa aquí</u></a></h4>
        </div>
    </form>
</div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/registro.js' %}"></script>
{% endblock %}
    