    {% extends 'base.html' %}
    {% load static %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}
    {% block title %}Comicstore - Contacto{% endblock %}
    {% block content %}
    <div class="container spacer mb-5">
        <div class="row">
            <div class="card mb-3 border-0">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ comic.img_path }}" class="img-fluid" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-title" style="font-size: 1.8vw; font-weight: bold;">{{ comic.title }}</p>
                      <p style="font-size: 1.5vw;">Precio: ${{ comic.price }}</p>
                      <p class="card-text" style="font-size: 1vw;">ID: {{ comic.id }}</p>
                      <p class="card_text" style="font-size: 1vw;">Estado: Disponible</p>
                      <div class="mb-1">
                        <label for="cantidadInput" class="form-label" style="font-size: 1vw;">Cantidad:</label>
                    </div>
    
                    <div class="col-md-6 col-lg-4">
                        <div class="input-group">
                            <button class="btn btn-outline-secondary" type="button" id="btnMenos">-</button>
    
                            <input type="text" class="form-control text-center" id="cantidadInput" value="1"
                                pattern="[0-9]*" inputmode="numeric">
    
                            <button class="btn btn-outline-secondary" type="button" id="btnMas">+</button>
                        </div>
                    </div>
                    <div class="d-grid col-md-6 col-lg-4">
                        <button type="button" class="btn btn-primary mt-3" onclick="añadidoCarrito()" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"><i class="fas fa-shopping-cart me-1"></i><span style="font-size: 1vw;">Añadir al Carrito</span></button>
                    </div>
                    <div class="mt-3">
                        <p class="spacer2 mt-5" style="font-size: 1.5vw;">Descripción:</p>
                        <p style="font-size: 1vw;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sequi dignissimos aliquid dolorem
                            pariatur corrupti earum dolor enim non hic. Eum eos molestias, quis vero aliquid ullam rerum
                            consequuntur perspiciatis.
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="modal" id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">El producto se agregó exitosamente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body mt-3">
                    <p>{{ comic.title }}</p>
                    <p>${{124.000}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="location.href='./carrito.html'">Ir al carrito</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="location.href='./index.html#galeria'">Seguir comprando</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block js %}
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
        









