{% extends 'base.html'%}
{% load static %} 
{% block title %}Comic Store{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/styleIndex.css' %}">{% endblock %} 
{% block content %}
<div id="carouselExample" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="{% static 'img/foto 1.jpg' %}" class="d-block w-100 carrusel" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static 'img/Banner2.jpg' %}" class="d-block w-100 carrusel" alt="...">
            <p class="texto1">¡BIENVENIDO A COMIC STORE!</p>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static 'img/Banner3.jpg' %}" class="d-block w-100 carrusel" alt="...">
            <p class="texto2">Ingresa el código<span class="codigo">COMICSTORE1</span> y obtén un 10% de descuento en tu primera compra!</p>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="galeria container-fluid py-5 text-center">
    <p class="titulo">¡Recién llegados!</p>
    <div id="comics" class="row">
        {% for comic in comics %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="card h-100">
                <img src="{{ comic.img_path }}" class="card-img-top" alt="..." style="max-height: 624.88px;">
                <div class="card-body">
                    <h5 class="card-title">{{ comic.title }}</h5>
                    <p class="card-text">${{ comic.price }}</p>
                </div>
                <div class="d-grid">
                    <button class="btn btn-dark btn-block" onclick="location.href='./vistaProducto.html'">Comprar</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if comics.has_previous %}
            <a href="?page=1#comics">&laquo; primera</a>
            <a href="?page={{ comics.previous_page_number }}#comics">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ comics.number }} de {{ comics.paginator.num_pages }}.
        </span>

        {% if comics.has_next %}
            <a href="?page={{ comics.next_page_number }}#comics">siguiente</a>
            <a href="?page={{ comics.paginator.num_pages }}#comics">última &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}